@import "tailwindcss";

/* Global Resets*/

*,
* after,
* before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  font-size: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --size-xs: 16px;
  --size-s: 18px;
  --size-m: 20px;
  --size-l: 25px;
  --size-xl: 30px;
  --size-xxl: 35px;

  --color-black: #050505;
  --color-white: white;

  --bg-color-white: white;
  --bg-color-black: #050505;

  --bg-transparent: rgba(0, 0, 0, 0.459);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
  margin: 0;
  font-size: var(--size-xs);
}

img {
  width: 100%;
}

a {
  font-weight: 500;
  color: #f80707;
}

a:hover {
  color: #53eafd;
}

.c-btn-white-cont {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  border-radius: 18px;
  padding: 3px;
}
.c-btn-white-cont:hover {
  border-color: #53eafd;
}
.c-btn-white-cont a {
  text-transform: capitalize;
  display: flex;
  background-color: white;
  color: #050505;
  border-radius: 15px;
  color: black;
  padding: 8px;
  text-decoration: underline;
}
.c-btn-white-cont a:hover {
  background-color: #53eafd;
}

@media only screen and (width > 0px) {
  h1 {
    font-size: var(--size-l);
  }

  h2 {
    font-size: var(--size-m);
  }

  h3 {
    font-size: var(--size-s);
  }
}

@media only screen and (width > 600px) {
  h1 {
    font-size: var(--size-xl);
  }

  h2 {
    font-size: var(--size-l);
  }

  h3 {
    font-size: var(--size-m);
  }
}

@media only screen and (width > 1000px) {
  h1 {
    font-size: var(--size-xxl);
  }

  h2 {
    font-size: var(--size-l);
  }

  h3 {
    font-size: var(--size-m);
  }
}
